// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$color:(
    peachpuff:#ffdab9,
    peachpuff-dark:#bfc697,
    brown:#ca905c
);

$popover-md-width : 260px;
$popover-ios-width: 260px;
$popover-wp-width:260px;

$range-ios-knob-background-color:#bfc697;
$rande-ios-tick-background-color:#bfc697;

$rande-md-tick-background-color:#bfc697;
$range-md-knob-background-color:#bfc697;

